body{
    width: 100%;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin: 0;
}

button:active, button:focus, select:active, select:focus, input:active, input:focus, textarea:active, textarea:focus {
    outline: none;
}

input, button, textarea, select {
    font-family: 'Montserrat';
}

.section1 {
    position: relative;
}

.navbar__logo{
    width: 180px;
    height: 71px;
}

.navbar__info{
    display: flex;
    width: 460px;
    justify-content: space-between;
}

.navbar__info-text{
    color: white;
    text-decoration: none;
}

.navbar__number{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar__number-mobile {
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: flex-end;
}

.navbar__number-image{
    margin-right: 5px;
    width: 24px;
    height: 24px;
}

.navbar__number-text{
    color: white;
    line-height:36px;
    font-weight: 700;
    font-size: 22px;
    min-width: 150px;
}

.navbar__location{
    display: flex;
    align-items: center;
}

.navbar__location-image{
    margin-right: 5px;
    width: 24px;
    height: 24px;
}

.navbar__select {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
}

.navbar__select-option {
    color: black;
}

.navbar__location-select{
    margin-left: 15px;
    /* width: 7;
    height: 5;
    border-style: solid;
    border-width: 5px 3.5px 0 3.5px;
    border-color: #ffffff transparent transparent transparent; */
}

.navbar__location-name{
    color: white;
    font-weight: 700;
    font-size: 22px;
    line-height: 36px;
}

.section1__navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 21px;
    align-items: center;
    max-width: 1150px;
    margin: 0 auto;
}

.section1__background-color {
    background-color: #4EA8F5;
    width: 100%;
    position: absolute;
    z-index: -3;
    height: 805px;
    top: 0;
    left: 0;
}

.section1__background-icon {
    width: 100%;
    position: absolute;
    z-index: -2;
    height: 805px;
    top: 0;
    left: 0;
}

.section1__background-city {
    position: absolute;
    z-index: -1;
    height: 805px;
    width: 100%;
    top: 0;
    left: 0;
}

.background__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section__page{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    margin: 0 auto;
    margin-top: 150px;
}

.page__content-header{
    padding-left: 30px;
    color: white;
    font-size: 48px;
    line-height: 60px;
    font-weight: 600;
    margin-bottom: 40px;
    width: 375px;
}

.page__content-text{
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.page__photo{
    position: absolute;
    z-index: -1;
    height: 592px;
    margin-top: 4px;
}

.page__form{
    width: 381px;
    height: 462px;
    border: 3px solid #53B0FF;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #0B67AB;
}

.page__form-header{
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.page__form-number{
    text-align: center;
    margin-bottom: 10px;
}

input{
    width: 278px;
    height: 50px;
    color: #FFFFFF;
    border-radius: 3px;
    background-color: #18589E;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    border: 1px solid #4A8FCE;
    border-radius: 4px;
    padding: 4px 20px;
    box-sizing: border-box;
}

input::placeholder {
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 34px;
}

input::-webkit-input-placeholder {
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 34px;
}

input::-moz-placeholder {
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 34px;
}

.page__form-question{
    text-align: center;
    margin-top: 10px;
}

textarea{
    width: 285px;
    height: 96px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    background: #18589E;
    border: 1px solid #4A8FCE;
    box-sizing: border-box;
    border-radius: 6px;
    overflow: auto;
    resize: none;
    padding: 10px 20px;
    box-sizing: border-box;
}

textarea::placeholder {
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 34px;
}

textarea::-webkit-input-placeholder {
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 34px;
}

textarea::-moz-placeholder {
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 34px;
}

.page__form-button{
    text-align: center;
    margin-bottom: 10px;
}

button{
    width: 278px;
    height: 47px;
    background: #53B0FF;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 31px;
    border: none;
    cursor: pointer;
}

.page__form-info{
    text-align: center;
    color: #FFFFFF;
    font-size: 11px;
    line-height: 17px;
    font-weight: 500;
}

.section2{
    max-width: 1300px;
    margin: 150px auto 0 auto;
}

.section2__header{
    margin-top: 78px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 46px;
    line-height: 85px;
    text-align: center;
}

.section2__content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.section2__content-block{
    position: relative;
    text-decoration: none;
    padding: 50px;
    box-sizing: border-box;
    background-image: url(images/section2/background/background1.svg);
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background-color: #3A87D4;
    background-size: cover;
}

.section2__block-background1 {
    background-image: url(images/section2/background/background1.svg);
}

.section2__block-background2 {
    background-image: url(images/section2/background/background2.svg);
}

.section2__block-background3 {
    background-image: url(images/section2/background/background3.svg);
}

.section2__block-background4 {
    background-image: url(images/section2/background/background4.svg);
}

.section2__block-background5 {
    background-image: url(images/section2/background/background5.svg);
}

.section2__block-background6 {
    background-image: url(images/section2/background/background6.svg);
}

.section2__block-img{
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.section2__block-container{
    display: flex;
    justify-content: space-between;
}

.section2__block-text{
    color: white;
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
}

.section__content-reviews{
    border: 1px solid #CDD1D8;
    border-radius: 4px;
    padding: 30px 30px 40px 30px;
}

.section2__practice{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-bottom: 45px;
}
.content__reviews{
    display: flex;
    margin-bottom: 40px;
}

.content__reviews-photo{
    width: 97px;
    height: 97px;
    margin-right: 20px;
}

.reviews__info-date{
    font-family: 'Manrope';
    color: #828282;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
}

.reviews__info-name{
    color:#1277D3;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
}

.reviews__info-case{
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: black;
}

.content__text{
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: black;
    margin-bottom: 25px;
}

.detail{
    text-decoration: none;
}

.content__document{
    display: flex;
    text-decoration: none;
}

.content__document-img{
    margin-right: 10px;
}

.content__document-text{
    color: #1277D3;
    margin-top: 5px;
    font-size: 12px;
    line-height: 22px;
    font-weight: 700;
}

.button__reviews{
    width: 199px;
    height: 47px;
    background: white;
    border: solid #1987EC;
    color: black;
    font-weight: 700;
    font-size: 16px;
    line-height: 31px;
    cursor: pointer;
}

.section2__button{
    text-align: center;
    margin-bottom: 70px;
}

.section2__video{
    display: flex;
    align-items: center;
    justify-content: center;
}

.video__blok-arrows-mobile{
    display: none;
}

.section2__video-arrow{
    width: 35px;
    height: 35px;
    margin-right: 54px;
}

.section2__video-img{
    margin-right: 38px;
}

.video-img {
    width: 100%;
}

.section2__about{
    font-weight: 500;
    font-size: 46px;
    line-height: 85px;
    color: black;
    margin-top: 61px;
    text-align: center;
    margin-bottom: 45px;
}

.form{
    width: 100%;
    height: 480px;
    margin-top: 120px;
    background-image: url(images/form/background.svg);
}


.form__content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
}

.form__content-img{
    margin-top: 25px;
    width: 325px;
    height: 454px;
}

.content__text-header{
    font-size: 34px;
    font-weight: 600;
    line-height: 42px;
    color: white;
    margin-bottom: 30px;
}

.content__text-paragraph{
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: #ffffff;
    opacity: 0.5;
}

.button__form{
    width: 283px;
    height: 47px;
    background: #53B0FF;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 31px;
    border: none;
    cursor: pointer;
}

.info{
    max-width: 1300px;
    margin: 75px auto 0 auto;
}

.info__header{
    font-weight: 500;
    font-size: 40px;
    line-height: 85px;
    text-align: center;
    margin-bottom: 36px;
}

.info__duty{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-bottom: 90px;
}

.info__duty-block{
    padding: 43px;
    border: solid 1px #CDD1D8;
}

.block__header-img{
    padding-top: 8px;
}

.duty__block-header{
    display: flex;
    margin-bottom: 15px;
}

.block__header-text{
    text-align: center;
    margin-left: 18px;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
}

.duty__block-number{
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 25px;
}

.duty__block-client{
    color: #686868;
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
}

.duty__block-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 25px;
}

.duty__block-document{
    display: flex;
}

.block__document-text{
    margin-right: 10px;
}

.duty__link{
    margin-right: 10px;
    font-weight: 700;
    font-size: 12px;
    line-height: 26px;
    color: #1277D3;
    text-decoration:none;
}

.info__progress{
    margin-bottom: 140px;
    position: relative;
}

.info__progress-img{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.progress-img {
    width: 100%;
}

.info__progress-header{
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    color: white;
    text-align: center;
    padding-top: 82px;
    margin-bottom: 65px;
}

.info__progress-bloks{
    display: flex;
    justify-content: space-evenly;
}

.info__progress-blok {
    display: flex;
    justify-content: center;
}

.progress__blok-number{
    font-weight: 700;
    font-size: 64px;
    line-height: 60px;
    color: white;
    margin-right: 15px;
}

.progress__blok-text{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.map{
    max-width: 100%;
}

.map__header{
    font-size: 40px;
    font-weight: 500;
    line-height: 85px;
    text-align: center;
    margin-bottom: 30px;
}

.map__image {
    width: 100%;
}

.form2 {
    background-image: url(images/form2/background/background.svg);
    height: 500px;
}

.form2__img{
    position: absolute;
    z-index: -1;
}

.form2__header{
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 40px;
    line-height: 85px;
    padding-top: 83px;
    margin-bottom: 20px;
}

.form2__block{
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
}

.form2__input{
    width: 245px;
    height: 47px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-left: 20px;
    border-radius: 6px;
    color: #FFFFFF;
    margin-right: 20px;
}

.form2__text{
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.form2__messengers{
    display: flex;
    justify-content: center;
}

.form2__messengers-block{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 242px;
    height: 47px;
    border: solid 2px #53B0FF;
    margin-right: 20px;
    text-decoration: none;
}

.messengers__block-img{
    margin-right: 10px;
    margin-top: 5px;
}

.messengers__block-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 36px;
    color: white;
}
.basement{
    max-width: 1300px;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
}

.block__items-messengers{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 53px;
}

.basement__block-text{
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color:#424242;
}

.basement__link{
    text-decoration: none;
    color:#424242;
}

.basement__link-blue{
    text-decoration: none;
    color: #1987EC;
}

.basement__button{
    width: 200px;
    height: 46px;
    background:#1987EC;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 31px;
    border: none;
    cursor: pointer;
}

.block__button-number{
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color:#424242;
    margin-top: 33px;
    text-align: end;
}

.block__button-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 36px;
    color:#424242;
    text-align: end;
}

.basement__background{
    background-color:#F4F4F4;    ;
}

.basement__additionally{
    background-color: #F4F4F4;
    display: flex;
    justify-content: space-around;
    max-width: 1300px;
    margin: 0 auto;
}

.basement__additionally-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 36px;
    color:#6F6F6F;
    margin-top: 15px;
    margin-bottom: 40px;
}

.content__payment{
    border: #003F84 solid;
    border-radius: 5px;
    width: 50px;
    height: 209px;
    background: #003F84;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    box-sizing: border-box;
    position: fixed;
}

.content__payment-ruble{
    padding: 20px 0;
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    color: white;
}

.content__payment-text{
    text-align: center;
    margin: auto;
    font-weight: 600;
    color: white;
    font-size: 15px;
    writing-mode: vertical-lr;
    line-height: 36px;
    transform: rotate(180deg);
}

.form__content-block {
    display: flex;
    width: calc(100% - 400px);
    justify-content: space-between;
}

.content__text-paragraph-mobile {
    display: none;
    font-size: 11px;
    font-weight: 500;
    line-height: 17px;
    color: #ffffff;
    opacity: 0.5;
    margin-top: 10px;
    text-align: center;
}

.section1__navbar-mobile {
    display: none;
}

.section__page-tablet {
    display: none;
    background-image: url(images/section1/background/background-form.svg);
    padding: 50px 0;
}

.navbar__burger {
    display: none;
}

.navbar__burger-mobile {
    display: none;
}

@media (max-width: 1300px) {
    .section2__video-img {
        display: none;
    }
    .section2__video-img-first {
        width: 100%;
        display: block;
    }
}

@media (max-width: 1350px){
    .section2__practice {
        padding: 0 20px;
    }
    .info {
        padding: 0 20px;
    }
    .section2__content {
        padding: 0 20px;
    }
}
   
@media (max-width: 1100px){
    .info {
        padding: 0;
        margin-top: 60px;
    }
    .info__duty {
        padding: 0 20px;
    }
    .info__progress {
        margin-bottom: 50px;
    }
    .info__progress-bloks {
        padding-bottom: 80px;
    }
    .info__progress-blok {
        display: block;
    }
    .progress-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .progress__blok-number {
        margin-right: 0;
    }
    .info__progress-header {
        font-size: 30px;
        line-height: 40px;
    }
}

@media (max-width: 1000px){
    .navbar__burger {
        display: block;
        width: 26px;
        margin-right: 20px;
    }
    .section__page-tablet {
        display: block;
    }
    .section1__background-city {
        height: 560px;
    }
    .section1__background-icon {
        height: 560px;
    }
    .section1__background-color {
        height: 560px;
    }
    .section__page {
        margin: 0;
        justify-content: start;
        padding-bottom: 60px;
    }
    .page__form-header {
        margin: 0;
        margin-bottom: 15px;
    }
    .page__form-button {
        margin-top: 15px;
    }
    .form__input {
        width: 420px;
    }
    .map__image {
        width: 100%;
        min-height: 400px;
        object-fit: cover;
    }
    .map__header {
        font-size: 36px;
        line-height: 85px;
        margin-bottom: 23px;
    }
    .section2__practice {
        grid-template-columns: 1fr;
    }
    .section2__content {
        grid-template-columns: 1fr 1fr;
    }
    .info__duty{
        grid-template-columns: 1fr 1fr;
    }
    .navbar__info-text{
        display: none;
    }
    .navbar__number{
        width: 100%;
        font-size: 18px;
    }
    .section1__navbar{
        justify-content: center;
        margin-left: 20px;
        margin-right: 20px;
    }
    .content__payment{
        display: none;
    }
    .page__form{
        display: none;
    }
    .page__photo{
        width: 400px;
        height: auto;
        top: 204px;
        right: 20px;        
    }
    .info__header {
        font-size: 30px;
        line-height: 40px;
    }
    .form2__block{
        text-align: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
    .form2__header {
        font-size: 24px;
        padding-top: 56px;
        margin-bottom: 15px;
        line-height: 36px;
    }
    .form2__input{
        width: 416px;
        margin-bottom: 12px;
        margin-right: 0;
    }
    .form2__text {
        margin-bottom: 10px;
    }
    .basement__block-text {
        display: none;
    }
    .basement__block-text-tablet {
        display: block;
    }
    .form__content-block {
        display: block;
        max-width: 400px;
    }
    .form__content-input {
        width: 100%;
    }
    .content__text-paragraph {
        margin-bottom: 30px;
    }
    .content__text-header {
        margin-bottom: 0;
        font-size: 24px;
        line-height: 36px;
    }
    .page__content-header{
        font-size: 36px;
        line-height: 46px;
    }
    .page__form-header{
        font-size: 24px;
        line-height: 36px;
    }
    .section2__header{
        font-size: 36px;
        line-height: 85px;
    }
    .section2__block-text{
        font-size: 20px;
        line-height: 26px;
    }
}

@media (max-width: 750px){
    .form {
        height: 430px;
        margin-top: 50px;
    }
    .form__content-img {
        display: none;
    }
    .form__content-block {
        width: 300px;
        padding-top: 40px;
        margin: auto;
    }
    .content__text-header {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 40px;
        text-align: center;
    }
    .content__text-paragraph {
        display: none;
    }
    .content__text-paragraph-mobile {
        display: block;
    }
    .button__form {
        width: 100%;
    }
    .info {
        margin-top: 50px;
    }
}

@media (max-width: 650px){
    .navbar__burger {
        display: none;
    }
    .navbar__burger-mobile {
        display: block;
        width: 26px;
    }
    .form__input {
        width: 300px;
    }
    .section1__background-city {
        height: 350px;
    }
    .section1__background-icon {
        height: 350px;
    }
    .section1__background-color {
        height: 350px;
    }
    .section__page {
        justify-content: center;
        width: 80%;
        margin: auto;
        padding-bottom: 170px;
    }
    .section__page-tablet {
        padding: 40px 0;
    }
    .page__photo {
        width: 225px;
        right: auto;
        top: 148px;
    }
    .navbar__number {
        display: none;
    }
    .navbar__number-text {
        font-size: 14px;
        line-height: 36px;
        min-width: auto;
    }
    .navbar__number-image {
        width: 16px;
        height: 16px;
    }
    .section1__navbar {
        padding-top: 0;
    }
    .navbar__logo {
        height: 61px;
        width: 154px;
    }
    .section1__navbar-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        background-color: #125395;
    }
    .navbar__select  {
        font-size: 14px;
    }
    .page__content-header {
        font-size: 24px;
        line-height: 14px;
        width: 100%;
        padding-left: 0;
        text-align: center;
    }
    .page__content-text {
        display: none;
    }
    .form__content-block {
        padding-top: 0;
    }
    .info__progress-bloks {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        width: 300px;
        margin: auto;
        padding-bottom: 60px;
    }
    .info__progress-header {
        font-size: 20px;
        line-height: 28px;
        padding-top: 50px;
        margin-bottom: 50px;
    }
    .info__progress {
        margin-bottom: 30px;
    }
    .info__header {
        font-size: 24px;
        line-height: 30px;
    }
    .section2__content{
        grid-template-columns: 1fr ;
    }
    .info__duty{
        grid-template-columns: 1fr;
    }
    .form2__messengers{
        flex-direction: column;
        align-items: center;
    }
    .form2__messengers-block {
        margin-bottom: 10px;
        margin-right: 0;
    }
    .basement{
        display: block;
        text-align: center;
    }
    .basement__block-text{
        display: none;
    }
    .block__items-messengers{
        margin-top: 20px;
        margin-bottom: 28px;
        justify-content: center;
    }
    .items__messengers_logo {
        margin: 0 12px;
    }
    .block__button-number{
        text-align: center;
    }
    .block__button-text{
        text-align: center;
        margin-bottom: 0;
    }
    .basement {
        margin: 20px auto;
    }
    .basement__additionally{
        display: block;
        text-align: center;
    }
    .basement__additionally-text{
        margin-bottom: 20px;
    }
    .form__content{
        display: block;
        text-align: center;
        padding-top: 40px;
    }
    .section2__video-arrow{
        display: none;
    }
    .map__header {
        font-size: 24px;
        line-height: 85px;
        margin-bottom: 0;
    }
    .form2__header {
        font-size: 20px;
        line-height: 28px;
    }
    .form2__input {
        font-size: 14px;
        width: 300px;
    }
    button {
        width: 300px;
    }
    .form2__text {
        font-size: 16px;
    }
    .section2__video {
        display: block;
    }
    .video__blok-arrow {
        display: none;
    }
    .video__blok-arrows-mobile {
        display: flex;
        width: 100px;
        justify-content: space-between;
        align-items: center;
        margin: 20px auto 0 auto;
    }
    .navbar__number-text{
        font-size: 14px;
        line-height: 36px;
    }
    .page__content-header{
        font-size: 24px;
        line-height: 30px;
    }
    .page__form-header{
        font-size: 24px;
        line-height: 30px;
    }
    .section2__header{
        font-size: 24px;
        line-height: 85px;
    }
    .section2__block-text{
        font-size: 16px;
        line-height: 22px;
    }
    .content__text{
        font-size: 14px;
        line-height: 22px;
    }
    .section2__about{
        font-size: 24px;
        line-height: 85px;
    }
    .content__text-header{
        font-size: 20px;
        line-height: 28px;
    }
    .info__header{
        font-size: 24px;
        line-height: 30px;
    }
    .info__progress-header{
        font-size: 20px;
        line-height: 28px;
    }
    .map__header{
        font-size: 24px;
        line-height: 85px;
    }
} 