body{
    width: 100%;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin: 0;
}

button:active, button:focus, select:active, select:focus {
    outline: none;
}

.section1 {
    position: relative;
}

.navbar__logo{
    width: 180px;
    height: 71px;
}

.navbar__info{
    display: flex;
    width: 460px;
    justify-content: space-between;
}

.navbar__info-text{
    color: white;
}

.navbar__number{
    display: flex;
    align-items: center;
}

.navbar__number-image{
    margin-right: 5px;
    width: 24px;
    height: 24px;
}

.navbar__number-text{
    color: white;
    line-height:36px;
    font-weight: 700;
    font-size: 22px;
}

.navbar__location{
    display: flex;
    align-items: center;
}

.navbar__location-image{
    margin-right: 5px;
    width: 24px;
    height: 24px;
}

.navbar__select {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
}

.navbar__select-option {
    color: black;
}

.navbar__location-select{
    margin-left: 15px;
    /* width: 7;
    height: 5;
    border-style: solid;
    border-width: 5px 3.5px 0 3.5px;
    border-color: #ffffff transparent transparent transparent; */
}

.navbar__location-name{
    color: white;
    font-weight: 700;
    font-size: 22px;
    line-height: 36px;
}

.content{
}

.section1__navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 21px;
    align-items: center;
    width: 1150px;
    margin: 0 auto;
}

.section1__background-color {
    background-color: #4EA8F5;
    width: 100%;
    position: absolute;
    z-index: -3;
    height: 805px;
    top: 0;
    left: 0;
}

.section1__background-icon {
    width: 100%;
    position: absolute;
    z-index: -2;
    height: 805px;
    top: 0;
    left: 0;
}

.section1__background-city {
    position: absolute;
    z-index: -1;
    height: 805px;
    width: 100%;
    top: 0;
    left: 0;
}

.background__img {
    height: 100%;
}

.section__page{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    margin: 0 auto;
    margin-top: 150px;
}

.page__content{

}

.page__content-header{
    padding-left: 30px;
    color: white;
    font-size: 48px;
    line-height: 60px;
    font-weight: 600;
    margin-bottom: 40px;
}

.page__content-text{
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.page__photo{
    position: absolute;
    z-index: -1;
    height: 592px;
    margin-top: 10px;
}

.page__form{
    width: 381px;
    height: 462px;
    border: 3px solid #53B0FF;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #0B67AB;
}

.page__form-header{
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.page__form-number{
    text-align: center;
    margin-bottom: 10px;
}

input{
    width: 278px;
    height: 50px;
    color: #FFFFFF;
    border-radius: 3px;
    background-color: #18589E;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    border: 1px solid #4A8FCE;
    border-radius: 4px;
}

.page__form-question{
    text-align: center;
    margin-top: 10px;
}

textarea{
    width: 285px;
    height: 96px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    background: #18589E;
    border: 1px solid #4A8FCE;
    box-sizing: border-box;
    border-radius: 6px;
    overflow: auto;
    resize: none;
    
}

.page__form-button{
    text-align: center;
    margin-bottom: 10px;
}

button{
    width: 278px;
    height: 47px;
    background: #53B0FF;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 31px;
    border: none;
    cursor: pointer;
}

.page__form-info{
    text-align: center;
    color: #FFFFFF;
    font-size: 11px;
    line-height: 17px;
    font-weight: 500;
}

.section2{
    width: 1300px;
    margin: 150px auto 0 auto;
}

.section2__header{
    margin-top: 78px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 46px;
    line-height: 85px;
    text-align: center;
}

.section2__content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.section2__content-block{
    width: 100%;
    height: 220px;
    position: relative;
}

.section2__block-background{
    position: absolute;
    z-index: -2;
    width: 100%;
}

.section2__background-img {
    width: 100%;
}

.section2__block-img{
    position: relative;
    width: 80px;
    height: 80px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.section2__block-container{
    display: flex;
    justify-content: space-between;
}

.section2__block-text{
    padding-left: 50px;
    color: white;
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
}

.section2__block-item{
    margin-right: 50px;
}

.section__content-reviews{
    width: 400px;
    height: 417px;
    border: solid;
    border-color: #CDD1D8;
    margin-bottom: 45px;
}

.section2__practice{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}
.content__reviews{
    display: flex;
    margin: 30px;
}

.content__reviews-photo{
    width: 97px;
    height: 97px;
    margin-right: 20px;
}

.reviews__info-date{
    color: #828282;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
}

.content__reviews-info{
    margin-bottom: 35px;
}

.reviews__info-name{
    color:#1277D3;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
}

.reviews__info-case{
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: black;
}

.content__text{
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: black;
    margin-left: 27px;
    margin-right: 27px;
    margin-bottom: 30px;
}

.detail{
    text-decoration: none;
}

.content__document{
    display: flex;
    margin-left: 28px;
    text-decoration: none;
}

.content__document-img{
    margin-right: 10px;
}

.content__document-text{
    color: #1277D3;
    margin-top: 5px;
    font-size: 12px;
    line-height: 22px;
    font-weight: 700;
}

.button__reviews{
    width: 199px;
    height: 47px;
    background: white;
    border: solid #1987EC;
    border-radius: 2px;
    color: black;
    font-weight: 700;
    font-size: 16px;
    line-height: 31px;
    cursor: pointer;
}

.section2__button{
    text-align: center;
    margin-bottom: 70px;
}

.section2__video{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section2__video-arrow{
    width: 35px;
    height: 35px;
    margin-right: 54px;
}

.section2__video-img{
    margin-right: 38px;
}

.section2__about{
    font-weight: 500;
    font-size: 46px;
    line-height: 85px;
    color: black;
    margin-top: 61px;
    text-align: center;
    margin-bottom: 45px;
}

.form{
    width: 100%;
    margin-top: 120px;
    margin-bottom: 92px;
}

.form__background{
    position: absolute;
    z-index: -1;
}

.form__content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 250px;
    padding-right: 250px;
}

.form__content-img{
    margin-top: 30px;
    width: 325px;
    height: 454px;
}

.content__text-header{
    font-size: 34px;
    font-weight: 600;
    line-height: 42px;
    color: white;
    margin-bottom: 30px;
}

.content__text-paragraph{
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: #8DB4DB;
}

.button__form{
    width: 283px;
    height: 47px;
    background: #53B0FF;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 31px;
    border: none;
    cursor: pointer;
}

.info{
    width: 1300px;
    margin: 150px auto 0 auto;
}

.info__header{
    font-weight: 500;
    font-size: 40px;
    line-height: 85px;
    text-align: center;
    margin-bottom: 36px;
}

.info__duty{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-bottom: 90px;
}

.info__duty-block{
    width: 400px;
    height: 325px;
    border: solid 1px #CDD1D8;
}

.block__header-img{
    padding-top: 8px;
}

.duty__block-header{
    display: flex;
    margin-bottom: 15px;
    margin-top: 46px;
    padding-left: 43px;
}

.block__header-text{
    text-align: center;
    margin-left: 18px;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
}

.duty__block-number{
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 25px;
    padding-left: 43px;
}

.duty__block-client{
    color: #686868
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
    padding-left: 43px;
}

.duty__block-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 25px;
    padding-left: 43px;
}

.duty__block-document{
    display: flex;
    padding-left: 43px;
}

.block__document-text{
    margin-right: 10px;
}

.duty__link{
    margin-right: 10px;
    font-weight: 700;
    font-size: 12px;
    line-height: 26px;
    color: #1277D3;
    text-decoration:none;
}

.info__progress{
    margin-bottom: 140px;
}

.info__progress-img{
    position: absolute;
    z-index: -1;
}

.info__progress-header{
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    color: white;
    text-align: center;
    padding-top: 82px;
    margin-bottom: 65px;
}

.info__progress-blok{
    display: flex;
    justify-content: center;
}

.progress__blok-number{
    font-weight: 700;
    font-size: 64px;
    line-height: 60px;
    color: white;
    margin-right: 45px;
}

.progress__blok-text{
    margin-right: 45px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.map__header{
    font-size: 40px;
    font-weight: 500;
    line-height: 85px;
    text-align: center;
    margin-bottom: 30px;
}

.form2__img{
    position: absolute;
    z-index: -1;
}

.form2__header{
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 40px;
    line-height: 85px;
    padding-top: 83px;
    margin-bottom: 20px;
}

.form2__block{
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
}

.form2__input{
    width: 245px;
    height: 47px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-left: 20px;
    border-radius: 6px;
    color: #FFFFFF;
    margin-right: 20px;
}

.form2__text{
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.form2__messengers{
    display: flex;
    justify-content: center;
}

.form2__messengers-block{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 242px;
    height: 47px;
    border: solid 2px #53B0FF;
    margin-right: 20px;
    text-decoration: none;
}

.messengers__block-img{
    margin-right: 10px;
    margin-top: 5px;
}

.messengers__block-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 36px;
    color: white;
}
.basement{
    width: 1300px;
    margin: 150px auto 0 auto;
}

.basement__block{
    display: flex;
    margin-top: 50px;
    margin-bottom: 70px;
    justify-content: space-around;
}

.block__items-messengers{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 53px;
}

.basement__block-text{
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color:#424242;
}

.basement__link{
    text-decoration: none;
    color:#424242;
}

.basement__link-blue{
    text-decoration: none;
    color: #1987EC;
}

.basement__button{
    width: 200px;
    height: 46px;
    background:#1987EC;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 31px;
    border: none;
    cursor: pointer;
}

.block__button-number{
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color:#424242;
    margin-top: 33px;
    margin-left: 20px;
}

.block__button-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 36px;
    color:#424242;
    margin-left: 30px;
}

.basement__additionally{
    background-color: #F4F4F4;
    display: flex;
    justify-content: space-around;
}

.basement__additionally-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 36px;
    color:#6F6F6F;
    margin-top: 15px;
    margin-bottom: 35px;
}

.content__payment{
    border: #003F84 solid;
    border-radius: 5px;
    width: 50px;
    height: 209px;
    background: #003F84;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    position: fixed;
}

.content__payment-ruble{
    padding-top: 17px;
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    color: white;
}

.content__payment-text{
    text-align: center;
    transform: s;
    font-weight: 600;
    color: white;
    font-size: 15px;
    line-height: 36px;
}

